.page {

  display: flex;
  flex-direction: column;

  /* height: 500vh; */

  .headerShadow {
    position: fixed;
    top: 30px;
    z-index: 2;
    height: 100px;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, var(--background) 10%, var(--background) 40%, transparent 100%);
    pointer-events: none;
  }

  .header {
    position: sticky;
    top: 0;
    background: var(--background);
    z-index: 3;
    border-bottom: 1px solid var(--border);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;


    .title {
      /* background-color: var(--primary); */
      flex: 1;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.1rem;
      /* font-family: 'titles'; */
      font-family: tebian;
      color: var(--primary-content);
      margin-right: 50px;

      h1 {
        position: relative;
        color: var(--title);
        min-width: 150px;

        &::before {
          content: "";
          position: absolute;
          bottom: 6px;
          right: -10px;
          width: 50%;
          height: 50%;
          background-color: var(--foreground);
          z-index: -1;
          border-radius: 79% 21% 85% 15% / 72% 58% 42% 28%;
        }
      }

      i {
        color: var(--copy-lighter);
        margin-top: 5px;
        font-size: 1.5rem;

      }


    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      flex-direction: row-reverse;
    }

    .back {
      z-index: 2;
      height: 20px;
      width: 50px;
      cursor: pointer;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--primary);
      border-radius: 24px;
      color: var(--stairs);

    }

    .search {
      z-index: 2;
      height: 20px;
      width: 50px;
      border-radius: 10px;

      background-color: var(--foreground);
      cursor: pointer;
      margin: 10px;

      i {
        color: var(--primary);
        font-size: 1.3rem;
      }
    }

  }

  .content {
    min-height: calc(100svh - 40px - 2px);
    /* background-color: var(--primary); */
    /* padding: 20px; */
    padding-bottom: var(--navbottom-height);

    .filter {
      direction: ltr;
      display: flex;
      /* flex-direction: row-reverse; */
      justify-content: space-between;
      align-items: center;
      /* width: 90%; */

      padding: 10px 25px;
      /* height: 50px; */
      gap: 20px;

      font-family: tebian;

      position: sticky;
      top: 0;
      z-index: 3;
      background: var(--background);


      .search,
      .sort {
        display: flex;

        align-items: center;
        gap: 5px;
        border-radius: 24px;
        height: 100%;


        div {
          display: flex;
          flex-direction: row-reverse;
          padding: 10px 20px;
          height: 100%;

          align-items: center;
          background-color: var(--foreground);

          border-radius: 24px;
          gap: 20px;
        }
      }

      .search {

        input {
          direction: rtl;
          background-color: inherit;
          outline: none;
          width: 100%;
        }

        p {
          /* display: inline-block; */
          width: 40px;
          color: var(--copy-lighter);
        }
      }

      .sort {
        cursor: pointer;

      }

    }

    .status {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      padding: 10px;
      /* width: 200px; */
      background-color: var(--foreground);
      font-family: tebian;
      border-radius: 24px 0 0 0;

      height: 60px;
      margin-top: 10px;

      div {

        background-color: var(--background);
        border-radius: 24px;
        padding: 10px 20px;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        i {
          color: var(--copy-lighter);
          font-size: 2rem;
        }
      }

    }

    .surah {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      padding: 20px;
      /* padding-top: 20px; */
      flex-wrap: wrap;
      background-color: var(--foreground);

      border-radius: 24px 0 24px 0;

      position: relative;
      width: 100%;

    }
  }
}

.modal {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--background) !important;
  border-radius: 50px;
  /* height: 50vh;
  width: 400px; */
  max-height: 70%;
  max-width: 80%;
  box-shadow: 10px 10px 1px var(--foreground) !important;

  gap: 10px;
  padding: 30px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  div {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--foreground);
    font-family: tebian;
    border-radius: 24px;
    cursor: pointer;

    i {
      font-size: 1.5rem;
      margin-top: 5px;
    }
  }


}


@media screen and (max-width: 700px) {
  .header {
    padding: 0 10px !important;
  }

  .headerShadow {
    top: 90px !important;
  }

  .filter {
    flex-direction: column !important;
    justify-content: center !important;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
  }

}

@media screen and (max-width: 768px) {
  .item {
    flex-direction: column;
  }

  .title {
    justify-content: flex-end !important;
  }
}

@media screen and (max-width: 850px) {
  .title {
    margin: 0 auto !important;
  }

  /* .item {
    width: 100% !important;
  } */

}