.test {
  /* ضع مسار الصورة هنا */
  background: url('https://plus.unsplash.com/premium_photo-1672201106204-58e9af7a2888?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat;
  background-position: top left;
  font: 50px tebian;
  overflow: hidden;
  white-space: nowrap;
  direction: ltr;
  text-align: center;
  text-overflow: ellipsis;
  background-size: cover;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0 0 100px var(--scrollbar));
  transition: background 0.5s ease;
}

.test:active {
  cursor: pointer;
  background-position: center 100%;
}

.container {
  /* min-height: 500svh; */
  background: var(--true) no-repeat;
  transition: background 0.5s ease;

}

.container:hover {
  background-position: center 100%;
}