
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  mask: url(../../../assets/png/torn.png) no-repeat center / cover;
  background-color: var(--primary);
}

.cont {
  position: relative;
  mask: url(../../../assets/jpg/abstract.jpg) no-repeat center / cover;
  background: white;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.ayat {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding-bottom: var(--navbottom-height);
  gap: 10px;
  margin: 0 auto;
  max-width: 90%;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}

.word {
  position: relative;
  color: var(--secondary);
}